    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Freelance iOS Developer</h2>
              <br/>
                <p>Based in Amsterdam I work as a freelance <a href="https://en.wikipedia.org/wiki/IOS">iOS</a> developer on <a href="https://apple.com">Apple's</a> operating systems.</p>
				<p>Next to these projects I am working on several ideas and do research.</p>
                <p>Furthermore, together with <a href="https://twitter.com/leenarts">Jeroen Leenarts</a>, <a href="https://twitter.com/sidneydekoning">Sidney de Koning</a> and <a href="https://twitter.com/nvh">Niels van Hoorn</a> I organise <a href="http://www.cocoaheads.nl">CocoaHeadsNL</a>.</p>
				<p>CocoaHeadsNL is a monthly meetup of iOS and OS X Developers in the Netherlands.</p>
                <p> <a href="mailto:info@barthoffman.nl">In case of questions.</a></p>
                <br/>
              </div>
        </div>
    </section>
